/* Googlefont Poppins CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/*** Navar styling ***/
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    height: 70px;
    background: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    z-index: 99;
}

nav .navbar {
    height: 100%;
    max-width: 1250px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    padding: 0 50px;
}

.navbar .logo .text-secondary {
    font-size: 30px;
    color: #140202;
    text-decoration: none;
    font-weight: 600;
    cursor: pointer;
}

nav .navbar .nav-links {
    line-height: 70px;
    height: 100%;
}

nav .navbar .links {
    display: flex;
}

nav .navbar .links li {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    padding: 0 14px;
}

nav .navbar .links li a {
    height: 100%;
    text-decoration: none;
    white-space: nowrap;
    color: #140202;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
}

.links li:hover .htmlcss-arrow,
.links li:hover .js-arrow {
    transform: rotate(180deg);
}

nav .navbar .links li .arrow {
    height: 100%;
    width: 22px;
    line-height: 70px;
    text-align: center;
    display: inline-block;
    color: #181414;
    transition: all 0.3s ease;
}

nav .navbar .links li .sub-menu {
    position: absolute;
    top: 70px;
    left: 0;
    line-height: 40px;
    background: #f3ebeb5d;
    box-shadow: 0 1px 2px rgba(102, 121, 143, 0.2);
    border-radius: 0 0 4px 4px;
    display: none;
    z-index: 2;
}

.navbar-brand {
    font-size: 38px;
    margin-right: 50px;
    color: black;
  }
  .navbar-brand:hover {
    color:black;
  }

nav .navbar .links li:hover .htmlCss-sub-menu,
nav .navbar .links li:hover .js-sub-menu {
    display: block;
}

.navbar .links li .sub-menu li {
    padding: 0 22px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.navbar .links li .sub-menu a {
    color: #171515;
    font-size: 15px;
    font-weight: 500;
}

.navbar .links li .sub-menu .more-arrow {
    line-height: 40px;
}


.navbar .links li .sub-menu .more-sub-menu {
    position: absolute;
    top: 0;
    left: 100%;
    border-radius: 0 4px 4px 4px;
    z-index: 1;
    display: none;
}

.links li .sub-menu .more:hover .more-sub-menu {
    display: block;
}

.navbar .nav-links .sidebar-logo {
    display: none;
}

.navbar .bx-menu {
    display: none;
}


/*** Home styling ***/
#home {
    background-image: linear-gradient(rgba(245, 30, 120, 0.3), rgba(5, 4, 46, 0.7)), url(../Pictures/pexels-pixabay-220201.jpg);
    height: 85vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#home h1 {
    color: #fff;
}

#home p {
    color: #fff;
}

/* Container*/
.searchContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  #country-inp {
    width: 30em;
    height: 100%;
    border: none;
    outline: none;
    font-size: 16px;
    padding: 15px 15px;
    border-radius: 25px;
  }
  
  #search-btn {
    width: 5em;
    border: none;
    outline: none;
    background-color: #4CAF50;
    color: #fff;
    font-size: 16px;
    padding: 15px 20px;
    margin-left: 1em;
    border-radius: 25px;
    cursor: pointer;
  }

  .search-wrapper {
    display:contents;
    align-items: center;
    background-color: #f2f2f2;
    border-radius: 10px;
    padding: 3px;
  }
  
  #search-btn:hover {
    background-color: #3e8e41;
  }



    /* Table style */
 .table-responsive {
    overflow-x: auto;
    margin-bottom: 20px;
  }
  
  .countryOutput {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .countryOutput > div {
    flex-basis: 48%;
    margin-bottom: 30px;
  }
  
  .countryOutput h4 {
    color: #8B4513;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .countryOutput span {
    font-size: 16px;
    display: block;
    margin-bottom: 20px;
  }
  
  .table {
    border-collapse: collapse;
    width: 100%;
  }
  
  .table th, .table td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
  }
  
  .table th {
    background-color: #8B4513;
    color: #fff;
  }
  
  .table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .table tbody tr:hover {
    background-color: #ddd;
  }
  
  .table thead th:first-child,
  .table tbody td:first-child {
    border-left: none;
  }
  
  .table thead th:last-child,
  .table tbody td:last-child {
    border-right: none;
  }
  
  @media (max-width: 767px) {
    .countryOutput > div {
      flex-basis: 100%;
    }
  } */
  

  .table {
    border-collapse: collapse;
    width: 100%;
  }
  
  .table th, .table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .table th {
    background-color: #f2f2f2;
    color: #444;
    font-weight: bold;
  }
  
  .table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  


/* Container result */
#result {
    margin-top: 0.25em;

}
.containerpie{
    width: 80%;
  margin: auto;
    height: 500px;
}
.flag-img {
    display: flex;
    width: 45%;
    min-width: 7.5em;
    margin: 1.8em auto 1.2em auto;
}

.container h2 {
    font-weight: 600;
    color: #222a43;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 1.8em;
}

.data-wrapper {
    margin-bottom: 1em;
    letter-spacing: 0.3px;
}

.container h4 {
    display: inline;
    font-weight: 400;
    color: #222a43;
    padding-right: 20px;
}

#info{
    font-weight: 400;
    font-size: 18px;
}

.container span {
    color: #5d6274;
}

.container h3 {
    text-align: center;
    font-size: 1.2em;
    font-weight: 400;
    color: #ff465a;
}

#count {
    margin-top: 50px;
    width: 60%;
}


#result {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px;
    margin-top: 100px;

}

/***  Chart styling ***/

.chart-container {
    width: 600px;
    height: 400px;
    margin: auto;
    background: #007bff;
  }
  

 /***  Map styling ***/ 
  .map-area {
	width: 600px;
	height: 465px;
	background: #fff;
    right:100px;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.map-area iframe {
	width: 100%;
	height: 100%;
	border: none;
}
/*responsive map*/

@media (max-width: 991px) {
	.map-area {
		width: 100%;
		height: 400px;
	}
}
  

/* Responsive Navbar */

@media (max-width:800px) {
    .navbar .bx-menu {
        display: block;
    }

    nav .navbar .nav-links {
        position: fixed;
        top: 0;
        left: -100%;
        display: block;
        max-width: 270px;
        width: 100%;
        background: #fff;
        line-height: 40px;
        padding: 20px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        transition: all 0.5s ease;
        z-index: 1000;
    }

    .navbar .nav-links .sidebar-logo {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .sidebar-logo .logo-name {
        font-size: 25px;
        color: #0b0a0a;
    }

    .sidebar-logo i,
    .navbar .bx-menu {
        font-size: 25px;
        color: #180d0d;
    }

    nav .navbar .links {
        display: block;
        margin-top: 20px;
    }

    nav .navbar .links li .arrow {
        line-height: 40px;
    }

    nav .navbar .links li {
        display: block;
    }

    nav .navbar .links li .sub-menu {
        position: relative;
        top: 0;
        box-shadow: none;
        display: none;
    }

    nav .navbar .links li .sub-menu li {
        border-bottom: none;

    }

    .navbar .links li .sub-menu .more-sub-menu {
        display: none;
        position: relative;
        left: 0;
    }

    .navbar .links li .sub-menu .more-sub-menu li {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .links li:hover .htmlcss-arrow,
    .links li:hover .js-arrow {
        transform: rotate(0deg);
    }

    .navbar .links li .sub-menu .more-sub-menu {
        display: none;
    }

    .navbar .links li .sub-menu .more span {
        display: flex;
        align-items: center;
    }

    .links li .sub-menu .more:hover .more-sub-menu {
        display: none;
    }

    nav .navbar .links li:hover .htmlCss-sub-menu,
    nav .navbar .links li:hover .js-sub-menu {
        display: none;
    }

    .navbar .nav-links.show1 .links .htmlCss-sub-menu,
    .navbar .nav-links.show3 .links .js-sub-menu,
    .navbar .nav-links.show2 .links .more .more-sub-menu {
        display: block;
    }

    .navbar .nav-links.show1 .links .htmlcss-arrow,
    .navbar .nav-links.show3 .links .js-arrow {
        transform: rotate(180deg);
    }

    .navbar .nav-links.show2 .links .more-arrow {
        transform: rotate(90deg);
    }
}

@media (max-width:370px) {
    nav .navbar .nav-links {
        max-width: 100%;
    }
}


/* Main Footer */
footer {
	background: #101010;
	padding: 86px 0;
}
.single-content {
	text-align: center;
	padding: 115px 0;
}
.single-box p {
	color: #fff;
	line-height: 1.9;
}
.single-box h3 {
	font-size: 16px;
	font-weight: 700;
	color: #fff;
}
.single-box .card-area i {
	color: #ffffff;
	font-size: 20px;
	margin-right: 10px;
}
.single-box ul {
	list-style: none;
	padding: 0;
}
.single-box ul li a {
	text-decoration: none;
	color: #fff;
	line-height: 2.5;
	font-weight: 100;
}
.single-box h2 {
	color: #fff;
	font-size: 20px;
	font-weight: 700;
}
#basic-addon2 {
	background: #fe1e4f;
	color: #fff;
}
.socials i {
	font-size: 18px;
	margin-right: 15px;
}
@media (max-width: 767px) {
	.single-box {
		margin-bottom: 50px;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.single-box {
		margin-bottom: 50px;
	}
}