/* Googlefont Poppins CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


.logo img{
	width: 150px;
    float: left;
}


/*** Navar styling ***/
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    height: 70px;
    background: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    z-index: 99;
}
nav .navbar {
    height: 100%;
    max-width: 1250px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    padding: 0 50px;
}

.navbar .logo .text-secondary {
    font-size: 30px;
    color: #140202;
    text-decoration: none;
    font-weight: 600;
    cursor: pointer;
}

nav .navbar .nav-links {
    line-height: 70px;
    height: 100%;
}

nav .navbar .links {
    display: flex;
}

nav .navbar .links li {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    padding: 0 14px;
}

nav .navbar .links li a {
    height: 100%;
    text-decoration: none;
    white-space: nowrap;
    color: #140202;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
}

.links li:hover .htmlcss-arrow,
.links li:hover .js-arrow {
    transform: rotate(180deg);
}

nav .navbar .links li .arrow {
    height: 100%;
    width: 22px;
    line-height: 70px;
    text-align: center;
    display: inline-block;
    color: #181414;
    transition: all 0.3s ease;
}

nav .navbar .links li .sub-menu {
    position: absolute;
    top: 70px;
    left: 0;
    line-height: 40px;
    background: #f3ebeb5d;
    box-shadow: 0 1px 2px rgba(102, 121, 143, 0.2);
    border-radius: 0 0 4px 4px;
    display: none;
    z-index: 2;
}

nav .navbar .links li:hover .htmlCss-sub-menu,
nav .navbar .links li:hover .js-sub-menu {
    display: block;
}

.navbar .links li .sub-menu li {
    padding: 0 22px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.navbar .links li .sub-menu a {
    color: #171515;
    font-size: 15px;
    font-weight: 500;
}

.navbar .links li .sub-menu .more-arrow {
    line-height: 40px;
}


.navbar .links li .sub-menu .more-sub-menu {
    position: absolute;
    top: 0;
    left: 100%;
    border-radius: 0 4px 4px 4px;
    z-index: 1;
    display: none;
}

.links li .sub-menu .more:hover .more-sub-menu {
    display: block;
}

.navbar .nav-links .sidebar-logo {
    display: none;
}

.navbar .bx-menu {
    display: none;
}

.navbar-brand {
    font-size: 35px;
    margin-right: 50px;
    color: black;
  }
  .navbar-brand:hover {
    color:black;
  }

/*** Home styling ***/
#home {
    background-image: linear-gradient(rgba(105, 46, 69, 0.3), rgba(37, 35, 61, 0.7)), url(../Pictures/pexels-taryn-elliott-3889659.jpg);
    height: 90vh;
    background-size: cover;
    background-position: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#home h1 {
    color: #fff;
   font-size: 30px;
   
}

#home p {
    color: #fff;
}

#count {
    margin-top: 50px;
    width: 60%;
}
#section {
    width: 100%;

}

#section {
    width: 100%;
    display: block;
    margin: 0px auto;
    padding: 50px 0px;

}
  



.tittle {
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
    line-height: 1.5px;
}

.title h1 {
    text-transform: uppercase;
    font-size: 30px;
    color: #88941e;

}

.tittle.hr {
    width: 20%;
    border-top: 5px solid #0a0303;
    border-bottom: none;
    color: #88941e;

}

.title h1 ::after {
    content: "";
    height: 5px;
    width: 100px;
    background-color: #090a03;
    border-radius: 25px;
    display: block;
    margin: auto;
}

.content {
    float: left;
    width: 50%;

}

.image-section {
    float: right;
    width: 30%;
    height: 20px;

}

.image-section img {
    width: 100%;
    height: auto;
}

.article h3 {
    color: #333;
    font-size: 17px;
}

.article p {
    margin-top: 20px;
    font-size: 16px;
    color: #333;

}

.content {
    margin-top: 50px;
}

.button {
    margin-top: 50px;
}



.button a:hover {
    color: #Fff;
    background-color: #f28f92;
    transition: 1s ease;
}

.social {
    width: 100%;
    clear: both;
    margin-top: 50px;
    text-align: center;
    display: inline-block
}

.social i {
    color: #fff;
    font-size: 22x;
    width: 45%;
    height: 45px;
    border-radius: 50%;
    line-height: 45px;
    text-align: center;
    margin: 20px 5px;

}

.container.social {
    width: 100%;
    clear: both;
    margin-top: 50px;
    text-align: center;
    display: inline-block
}

.social i {
    color: #fff;
    font-size: 22x;
    width: 45%;
    height: 45px;
    border-radius: 50%;
    line-height: 45px;
    text-align: center;
    margin: 20px 5px;
}

/*Section*/
.breadcrumb-image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 104px 0 110px;
    position: relative;
    width: 100%;
}

.breadcrumb-image::before {
    background: rgba(0, 0, 0, 0.80) none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
}

.breadcrumb-image h1 {
    color: #ffffff;
    font-size: 33px;
    font-weight: 600;
    line-height: 40px;
    position: relative;
    text-transform: uppercase;
}

.breadcrumbs_path {
    color: #fff;
    margin-top: 8px;
    position: relative;
    z-index: 9;
}

.breadcrumbs_path>a {
    color: #fff;
    transition: all 0.3s ease 0s;
}

/*----  Card Main Style  ----*/

.cards_landscape_wrap-2 {
    text-align: center;
    background: #F7F7F7;
}

.cards_landscape_wrap-2 .container {
    padding-top: 6px 26px;
    padding-bottom: 80px;
    margin-bottom: 10rem;
}

#cards_landscape_wrap-2 a {
    text-decoration: none;
    outline: none;
}

#cards_landscape_wrap-2 .card-flyer {
    border-radius: 2px;
}

#cards_landscape_wrap-2 .card-flyer .image-box {
    background: #ffffff;
    overflow: hidden;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.50);
    border-radius: 5px 5px 0 0;
}

#cards_landscape_wrap-2 .card-flyer .image-box img {
    transition: all .9s ease;
    width: 100%;
    height: 200px;
}


#cards_landscape_wrap-2 .card-flyer:hover .image-box img {
    opacity: 0.7;
    -webkit-transform: scale(1.15);
    -moz-transform: scale(1.15);
    -ms-transform: scale(1.15);
    -o-transform: scale(1.15);
    transform: scale(1.15);
}

#cards_landscape_wrap-2 .card-flyer .text-box {
    text-align: center;
}

#cards_landscape_wrap-2 .card-flyer .text-box .text-container {
    padding: 30px 18px;
}

#cards_landscape_wrap-2 .card-flyer {
    background: #FFFFFF;
    margin-top: 50px;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.40);
}

#cards_landscape_wrap-2 .card-flyer:hover {
    background: #fff;
    box-shadow: 0px 15px 26px rgba(0, 0, 0, 0.50);
    transition: all 0.2s ease-in;
    margin-top: 50px;
}


#cards_landscape_wrap-2 .card-flyer .text-box p {
    margin-top: 50px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    font-size: 14px;
    letter-spacing: 1px;
    color: #000000;
}

#cards_landscape_wrap-2 .card-flyer .text-box h6 {
    margin-top: 0px;
    margin-bottom: 4px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Roboto Black', sans-serif;
    letter-spacing: 1px;
    color: #00acc1;
}

/*msg area*/
.msg-area {
	background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../Pictures/pexels-valentin-angel-fernandez-14382820.jpg);
	-webkit-background-size: cover;
	background-size:cover;
	background-position:center;
	background-attachment: fixed;
	color: #fff;
	text-align: center;
   padding: 70px;
    width: 100%;
    margin-top: 70px;
}


/*service area*/
ul.services-content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; /* Add this line to center the flex items vertically */
    margin-top: 70px;
    }
.services-content li {
	padding: 0 30px;
	flex-basis: 33%;
	text-align: center;
}
.services-content img {
	width: 100%;
	margin-bottom: 50px;
}
.services-content li h3 {
	font-size: 20px;
	margin-bottom: 25px;
	text-transform: uppercase;
	font-weight: 500;
	letter-spacing: 3px;
}
.services-content li p {
	margin: 0;
}
@media (max-width:1000px) {
	.services-content li {
		flex-basis: 100%;
		margin-bottom: 65px;
	}
	.services-content li:last-child {
		margin-bottom: 0;
	}
	.services-content li p {
		padding: 0;
	}
}


/*** About styling ***/
#about {
    background-image: linear-gradient(rgba(245, 30, 120, 0.3), rgba(5, 4, 46, 0.7)), url(../Pictures/home.jpg);
    height: 75vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#about-us {
    margin: 20px;
}

#about h2 {
    color: #DDDDDD;
    font-size: 50px;
}

.container1 {
    width: 100%;
}

.container1 h3 {
    font-size: 50px
}

.about {
    padding: 5% 0;
    width: 100%;
    height: auto;
    background-color: #fff;
    font-size: 30px;
}

.about .left {
    padding: 2% 0;
    float: left;
    width: 50%;
 
}

.about .right {
    width: 50%;
    display: inline-block;
}

.about .right img {
    width: 100%
}

.about h3 {
    text-align: center;
    color: #1EADFF;
    margin: 10px;
    align-items: center;
    font-size: 30px;
}

.about hr {
    border-top: 2px solid #000;
    border-bottom: none;
}

.about p {
    font-size: 1rem;
    margin: 40px auto;
    width: 80%
}

.clear {
    clear: both;
}

/* media */
@media(max-width:1200px) {

    .about p {
        font-size: .8rem;
        margin: 20px auto;
    }
}


@media(max-width:992px) {
    .about {
        width: 100%;
    }

    .about {
        width: 100%;
    }
}


@media (max-width:800px) {
    .navbar .bx-menu {
        display: block;
    }

    nav .navbar .nav-links {
        position: fixed;
        top: 0;
        left: -100%;
        display: block;
        max-width: 270px;
        width: 100%;
        background: #fff;
        line-height: 40px;
        padding: 20px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        transition: all 0.5s ease;
        z-index: 1000;
    }

    .navbar .nav-links .sidebar-logo {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .sidebar-logo .logo-name {
        font-size: 25px;
        color: #0b0a0a;
    }

    .sidebar-logo i,
    .navbar .bx-menu {
        font-size: 25px;
        color: #180d0d;
    }

    nav .navbar .links {
        display: block;
        margin-top: 20px;
    }

    nav .navbar .links li .arrow {
        line-height: 40px;
    }

    nav .navbar .links li {
        display: block;
    }

    nav .navbar .links li .sub-menu {
        position: relative;
        top: 0;
        box-shadow: none;
        display: none;
    }

    nav .navbar .links li .sub-menu li {
        border-bottom: none;

    }

    .navbar .links li .sub-menu .more-sub-menu {
        display: none;
        position: relative;
        left: 0;
    }

    .navbar .links li .sub-menu .more-sub-menu li {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .links li:hover .htmlcss-arrow,
    .links li:hover .js-arrow {
        transform: rotate(0deg);
    }

    .navbar .links li .sub-menu .more-sub-menu {
        display: none;
    }

    .navbar .links li .sub-menu .more span {
        display: flex;
        align-items: center;
    }

    .links li .sub-menu .more:hover .more-sub-menu {
        display: none;
    }

    nav .navbar .links li:hover .htmlCss-sub-menu,
    nav .navbar .links li:hover .js-sub-menu {
        display: none;
    }

    .navbar .nav-links.show1 .links .htmlCss-sub-menu,
    .navbar .nav-links.show3 .links .js-sub-menu,
    .navbar .nav-links.show2 .links .more .more-sub-menu {
        display: block;
    }

    .navbar .nav-links.show1 .links .htmlcss-arrow,
    .navbar .nav-links.show3 .links .js-arrow {
        transform: rotate(180deg);
    }

    .navbar .nav-links.show2 .links .more-arrow {
        transform: rotate(90deg);
    }
}

@media (max-width:370px) {
    nav .navbar .nav-links {
        max-width: 100%;
    }
}



/* Footer  Starts*/
h1,
h2,
h3,
h4,
h5,
h6 {}
a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    outline: none;
}

a,
a:active,
a:focus {
    color: #333;
    text-decoration: none;
    transition-timing-function: ease-in-out;
    -ms-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-duration: .2s;
    -ms-transition-duration: .2s;
    -moz-transition-duration: .2s;
    -webkit-transition-duration: .2s;
    -o-transition-duration: .2s;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
img {
max-width: 100%;
height: auto;
}
section {
    padding: 60px 0;
   /* min-height: 100vh;*/
}
.footer {
background: linear-gradient(105deg,#1b1f25 ,#101113);
padding-top: 80px;
padding-bottom: 40px;
}
/*END FOOTER SOCIAL DESIGN*/
.single_footer{}
@media only screen and (max-width:768px) { 
.single_footer{margin-bottom:30px;}
}
.single_footer h4 {
color: #fff;
margin-top: 0;
margin-bottom: 25px;
font-weight: 700;
text-transform: uppercase;
font-size: 20px;
}
.single_footer h4::after {
content: "";
display: block;
height: 2px;
width: 40px;
background: #fff;
margin-top: 20px;
}
.single_footer p{color:#fff;}
.single_footer ul {
margin: 0;
padding: 0;
list-style: none;
}
.single_footer ul li{}
.single_footer ul li a {
color: #fff;
-webkit-transition: all 0.3s ease 0s;
transition: all 0.3s ease 0s;
line-height: 36px;
font-size: 15px;
text-transform: capitalize;
}
.single_footer ul li a:hover {
    color: #ff3666;
  }
  
  .single_footer_address {
    color: #fff;
  }
  
  .single_footer_address ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .single_footer_address ul li {
    margin-bottom: 10px;
    font-weight: 400;
    line-height: 28px;
  }
  
  .single_footer_address ul li span {
    font-weight: 400;
  }
  
.contact_social ul {
list-style: outside none none;
margin: 0;
padding: 0;
}

/*START NEWSLETTER CSS*/
.subscribe {
display: block;
position: relative;
margin-top: 15px;
width: 100%;
}
.subscribe__input {
background-color: #fff;
border: medium none;
border-radius: 5px;
color: #333;
display: block;
font-size: 15px;
font-weight: 500;
height: 60px;
letter-spacing: 0.4px;
margin: 0;
padding: 0 150px 0 20px;
text-align: center;
text-transform: capitalize;
width: 100%;
}
@media only screen and (max-width:768px) { 
.subscribe__input{padding: 0 50px 0 20px;}
}

.subscribe__btn {
background-color: transparent;
border-radius: 0 25px 25px 0;
color: #01c7e9;
cursor: pointer;
display: block;
font-size: 20px;
height: 60px;
position: absolute;
right: 0;
top: 0;
width: 60px;
}
.subscribe__btn i{transition: all 0.3s ease 0s;}
@media only screen and (max-width:768px) { 
.subscribe__btn{right:0px;}
}

.subscribe__btn:hover i{
color:#ff3666;
}
button {
padding: 0;
border: none;
background-color: transparent;
-webkit-border-radius: 0;
border-radius: 0;
}
/*END NEWSLETTER CSS*/

/*START SOCIAL PROFILE CSS*/
.social_profile {margin-top:40px;}
.social_profile ul{
list-style: outside none none;
margin: 0;
padding: 0;
}
.social_profile ul li{float:left;}
.social_profile ul li a {
text-align: center;
border: 0px;
text-transform: uppercase;
transition: all 0.3s ease 0s;
margin: 0px 5px;
font-size: 18px;
color: #fff;
border-radius: 30px;
width: 50px;
height: 50px;
line-height: 50px;
display: block;
border: 1px solid rgba(255,255,255,0.2);
}
@media only screen and (max-width:768px) { 
.social_profile ul li a{margin-right:10px;margin-bottom:10px;}
}
@media only screen and (max-width:480px) { 
.social_profile ul li a{
width:40px;
height:40px;
line-height:40px;
}
}
.social_profile ul li a:hover{
background:#ff3666;
border: 1px solid #ff3666;
color:#fff;
border:0px;
}
/*END SOCIAL PROFILE CSS*/
.copyright {
margin-top: 70px;
padding-top: 40px;
color:#fff;
font-size: 15px;
border-top: 1px solid rgba(255,255,255,0.4);
text-align: center;
}
.copyright a{color:crimson;transition: all 0.2s ease 0s;}
.copyright a:hover{color:#ff3666;}